<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>

    <!-- Partial syntax ('>') and partial name  -->
    {{> footer}}
  </body>
</html>
