<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}


    <!-- Helper with an argument.
        We can provide more variables after space-->
        <p>{{screamIt welcomeMessage}}</p>

    <!-- Partial syntax ('>') and partial name  -->
    {{> footer}}
  </body>
</html>
