<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page with my projects</title>
  </head>
  <body>
    {{> header}}

    {{screamIt welcomeMessage}}

    <p>Portfolio</p>

    {{> footer}}
  </body>
</html>
